<nav>
<div class="contnav">
        <div class="parnav">
            <a href=""><div class="homebt">ePHone</div></a>

            <div class="navig">
                <ul>
                <a href=""><li class="li1">Smartphones</li></a>
                <a href=""><li class="li1">Marques</li></a>
                <a href=""><li class="li1">Nouveautés</li></a>
                <a href=""><li class="li1">Meilleurs Ventes</li></a>
                </ul>
            </div>
            <div class="search">
                <form>
                    <input type="search" name="q" placeholder="Search">
                    <input type="submit" value="Recherche">
                </form>
            </div>
            <div class="nav3">
                <ul>
                <li class="panier">Panier</li>
                <li class="conn">Connexion</li>
                </ul>
            </div>
        </div>
    </div>
</nav>