<nav>
<div class="contnav">
        <div class="parnav">
            <a href=""><div class="homebt">ePhone</div></a>

            <div class="navig">
<<<<<<< Updated upstream
                <ul class="ul1">
                <a class="a1" href=""><li class="li1">Smartphones</li></a>
                <a class="a1" href=""><li class="li1">Marques</li></a>
                <a class="a1" href=""><li class="li1">Nouveautés</li></a>
                <a class="a1" href=""><li class="li1">Meilleurs Ventes</li></a>
=======
                <ul class="navig2">
                <a href=""><li class="li1">Smartphones</li></a>
                <a href=""><li class="li1">Marques</li></a>
                <a href=""><li class="li1">Nouveautés</li></a>
                <a href=""><li class="li1">Meilleurs Ventes</li></a>
>>>>>>> Stashed changes
                </ul>
            </div>
            <div class="search">
                <form>
                    <input class="reche1" type="search" name="q" placeholder="Recherche">
                    <input class="reche2" type="submit" value="iii">
                </form>
            </div>
            <div class="nav3">
                <ul class="ul2">
                <li class="panier">Panier</li>
                <li class="conn">Connexion</li>
                </ul>
            </div>
        </div>
    </div>
</nav>